body {
  background: 3E3D42;
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
}

nav {
  background: 
}

h1 {
  text-align: center;
  color: white
}

#featured-property {
  margin: auto;
  width: 80%;
  height: auto;
}
